{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}
{% block content %}
  


<p class="title">Przydatne linki:</p>
<p class="link"><a class="link" href="https://datasheets.raspberrypi.com/rpi4/raspberry-pi-4-reduced-schematics.pdf" target="_blank">Schemat Raspberry Pi 4 Model B</a></p>
<p class="link"><a class="link" href="https://www.raspberrypi.com" target="_blank">Strona producenta Raspberry Pi</a></p>
<p class="link"><a class="link" href="https://botland.com.pl/index.php?controller=attachment&id_attachment=26" target="_blank">Czujnik temperatury DS18B20 - katalog</a></p>
<p class="link"><a class="link" href="https://botland.com.pl/index.php?controller=attachment&id_attachment=2499" target="_blank">Termopara MAX6675</a></p>


{% endblock %}