
{% extends "base_for_automation.html" %}

{% block title %} Informacje {% endblock %}

{% block content %}

<p class="title" style="padding: 30px;">Instrukcje i dokumentacja</p>
<p class="title" style="padding: 30px;">Mostek RLC</p>
<p class="link"><a class="link" href="/informations/rlc" target="_blank">Obsługa mostka RLC - HAMEG ROHDE&SCHWARZ HM8118</a></p>
<p class="link"><a class="link" href="/informations/dc_bias_table" target="_blank">DC BIAS - informacje</a></p>
<p class="link"><a class="link" href="/informations/compensation_info" target="_blank">Kompensacja sond pomiarowych</a></p>
<p class="link"><a class="link" href="/informations/csv_to_excel" target="_blank">Importowanie donych z .csv do excel'a</a></p>
<p class="title" style="padding: 30px;">Zasilacz</p>
<p class="link"><a class="link" href="/informations/ps_delta" target="_blank">Obsługa zasilacza - Delta Elektronika SM1500-CP-30</a></p>
<p class="link"><a class="link" href="/informations/ps_delta_programming" target="_blank">Programowanie zasilacza - Delta Elektronika SM1500-CP-30</a></p>
<p class="link"><a class="link" href="/informations/ps_delta_ethernet" target="_blank">Konfiguracja połączenia ethernet</a></p>
<p class="title" style="padding: 30px;">Oscyloskop</p>
<p class="link"><a class="link" href="/informations/oscilloscope_manual" target="_blank">Obsługa oscyloskopu MSO6 Tektronix</a></p>
<p class="link"><a class="link" href="/informations/oscilloscope_programming_manual" target="_blank">Programowanie oscyloskopu MSO6 Tektronix</a></p>
<p class="link"><a class="link" href="/informations/oscilloscope_python" target="_blank">Podstawy python - Tektronix MSO6</a></p>
<br>
<br>
<br>
{% endblock %}